body {
  margin: 0px;
  background-color: #f4f4f4;
}

#header {
  background-color: #181c2c;
  width: 100%;
  height: 10vh;
}

#content {
  background-position: center;
  background-size: cover;
  background:
}

#logo {
  display: block;
  height: 7vh;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5vh;
}

#affiche {
  display: block;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
}

#background {
  background-image: url(img/file.png);
  background-size: 120vw;
  background-position: center;
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 90vh;
  -webkit-filter: blur(10px) opacity(70%);
  filter: blur(10px) opacity(70%);
}
