@font-face {
 font-family: "Cocogoose Semilight";
 src: url("Cocogoose-Narrow-Semilight-trial.ttf") format("opentype");
}

@font-face {
 font-family: "Cocogoose Semilight Italic";
 src: url("Cocogoose Pro Semilight Italic-trial.ttf") format("opentype");
}

@font-face {
 font-family: "Cocogoose Thin";
 src: url("Cocogoose-Narrow-Thin-trial.ttf") format("opentype");
}

body {
  margin: 0px;
  background-color: #f4f4f4;
}

#header {
  background-color: #181c2c;
  width: 100%;
  height: 10vh;
}

#content {
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 15vh;
  margin-bottom: 5vh;
}

#quote {
  color: #181c2c;
  font-family: "Cocogoose Thin";
  font-size: 5vh;
  margin-top: 10vh;
  margin-left: 5vw;
}

#author {
  color: #181c2c;
  font-family: "Cocogoose Semilight Italic";
  font-size: 5vh;
  margin-left: 5vw;
  text-align: right;
  margin-right: 10vw;
}

img {
  height: 8vh;
  margin: 1vh;
}

h1 {
  font-family: "Cocogoose Semilight";
  color: #181c2c;
  font-size: 7vh;
}

span {
  font-family: "Cocogoose Thin";
}
