/* Cointains classes to perform a carousel-like behaviour between all
   different dashboards */

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

iframe {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
